<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">

    <hr class="sep--white"/>

    <div class="footer__container">
      {% include social.html %}
    </div>
  </div>
</footer>

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
