<nav>
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Stories</a></li>
    <li><a href="{{ '/style-guide' | prepend: site.baseurl }}">Style Guide</a></li>
    <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
  </ul>
</nav>
